@charset "UTF-8";

body {
    color: #FEFCFC;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 800;
    font-size: small;
    background-width: 100%;
    position: absolute;
    z-index: -100;
    background-color: rgba(85,125,160,1.00);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

h1 {
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 900;
    font-size: 3.25em;
    text-align: center;
    text-indent: 0px;
    line-height: 108%;
    text-shadow: 2px 1px hsla(0,0%,0%,.70);
    color: rgba(252,248,248,1.00);
}

h2 {
    font-family: source-sans-pro;
    font-weight: 900;
    text-align: center;
    word-spacing: 10%;
    /* [disabled]line-height: -12%; */
    font-style: normal;
    font-size: 2em;
    /* [disabled]text-shadow: 1px 1px 1px hsla(0,0%,0%,0.30); */
    color: hsla(213,37%,51%,0.90);
    letter-spacing: 5%;
    text-transform: uppercase;
}
h3 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    /* [disabled]word-spacing: -18%; */
    font-style: normal;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px rgba(205,194,172,0.80);
    color: hsla(244,33%,58%,1.00);
    letter-spacing: 358%;
    white-space: pre-line;
    text-transform: uppercase;
}

footer {
    font-size: x-small;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


aside {
    margin-top: 7%;
    top: 44%;
    width: 70%;
    margin-left: 16%;
    padding-right: 3px;
    margin-right: 2%;
    clear: leftt;
}

section {
    float: none;
}

.homepage {
}

body nav a {
    color: #F9F8F9;
    text-decoration: none;
    position: fixed;
    top: 0%;
}
.navlist {
    list-style-type: none;
    background-color: hsla(347,41%,40%,0.47);
    overflow-x: hidden;
    width: 100%;
    position: fixed;
    top: -4px;
}
.navlistitem {
    float: left;
    padding-top: 8px;
    padding-right: 31px;
    padding-bottom: 8px;
    padding-left: 11px;
    position: relative;
}
.nav.nav-tabs.my-nav {
    position: fixed;
    width: 65%;
    z-index: 1; /*Add this*/
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    top: 0px;
}

div {
    width: 100%;
    /* [disabled]font-weight: 300; */
    /* [disabled]font-size: large; */
    /* [disabled]line-height: 152%; */
    /* [disabled]text-align: center; */
    position: relative;
    background-attachment: scroll;
}


body section {
    border-radius: 8px;
    margin-top: 33px;
    margin-right: 66px;
    margin-bottom: 55px;
    margin-left: 66px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 1rem;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    color: rgba(3,3,3,1.00);
    white-space: normal;
    line-height: 155%;
}
p {
    color: #F9F8F8;
    font-weight: 700;
    text-align: center;
    font-family: source-sans-pro;
    font-variant: normal;
    font-style: normal;
    line-height: 160%;
    text-shadow: 1pt 1pt hsla(0,0%,0%,.500);
    letter-spacing: 0%;
    position: relative;
}
div p span {
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
    padding-top: 0px;
    line-height: 5pt;
    letter-spacing: 19%;
}

.MLuther {
    position: absolute;
    padding-top: 0%;
    font-family: source-sans-pro;
    font-style: normal;
    margin-top: 6%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.60);
    color: rgba(253,251,251,1.00);
    padding-right: 0%;
    /* [disabled]clear: right; */
    /* [disabled]overflow-x: hidden; */
    /* [disabled]overflow-y: hidden; */
    text-align: center;
}


.Inside.header   {
    text-align: left;
    position: fixed;
    padding-left: 0px;
    margin-left: 7px;
    float: left;
    clear: left;
}
	
	.Inside aside {
	width: 140px;
    margin-left: 668px;
    position: fixed;
    font-weight: 200;
	}

.Answer {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: auto;
    padding-right: 10%;
    padding-left: 20px;
    height: 100%;
    position: fixed;
	}
		
.Pentecost {
    color: rgba(252,250,250,1.00);
    font-family: source-sans-pro;
    font-weight: 400;
    font-size: 1.05em;
    text-align: left;
    text-shadow: 0px 0px;
    line-height: 28pt;
    padding-top: 22px;
    padding-left: 22px;
    height: 90%;
    width: 100%;
    text-indent: 0px;
    text-transform: capitalize;
    background-image: -webkit-linear-gradient(194deg,rgba(251,203,72,0.11) 9.27%,rgba(146,45,120,0.24) 75.76%);
    background-image: -moz-linear-gradient(194deg,rgba(251,203,72,0.11) 9.27%,rgba(146,45,120,0.24) 75.76%);
    background-image: -o-linear-gradient(194deg,rgba(251,203,72,0.11) 9.27%,rgba(146,45,120,0.24) 75.76%);
    background-image: linear-gradient(256deg,rgba(251,203,72,0.11) 9.27%,rgba(146,45,120,0.24) 75.76%);
}


.Answer.Pentecost.text {
    position: fixed;
}



@media (max-width:888px){

}
