@charset "UTF-8";

body {
    color: #FEFCFC;
    font-family: source-sans-pro;
    font-weight: 800;
    text-align: center;
    font-size: small;
    background-width: 100%;
    z-index: -100;
    background-color: #353540;
}

#bg1 {z-index: 100;
    margin-top: 50px;
    }  

header {
        float: left;
        width: 350px;
        margin-right: 0px;
        position: absolute;
        top: 60px;
        padding-top: 0%;
        margin-left: 57px;
        z-index: 0;
        }    
    
h1 {
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    line-height: 108%;
    text-shadow: 2px 1px hsla(0,0%,0%,.70);
    color: rgba(250,250,250,1.00);
}

h2 {
    font-weight: 900;
    text-align: center;
    word-spacing: 10%;
    font-size: 2em;
    color: hsla(213,37%,51%,0.90);
    letter-spacing: 5%;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(226,220,207,0.80);
    color: hsla(243,18%,42%,1.00);
    letter-spacing: 358%;
    white-space: pre-line;
    text-transform: uppercase;
}

h4 {
    font-weight:500;
    text-align: left;
    font-size: 1.3em;
    color:#F8F5F5;
}

h5 {
    font-weight: 450;
    /*font-style: italic;*/
    text-align: left;
    font-size: 1.15em;
    color: #F8F5F5;
    margin-left: auto;
}

main {
    width: 280px;
    top: 100px;
    position: absolute;
    left: 43%;
    }
    
aside {
    margin-top: 7%;
    top: 44%;
    width: 70%;
    margin-left: 8%;
    margin-right: 8%;
    clear: left;
}

.lp_one
{
    color: #000000;
    background-color: white;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    padding-top: 2%;
    z-index: 0;
    margin-top: 30px;
    text-shadow: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.homepage {
}

body nav a {
    color: #F9F8F9;
    text-decoration: none;
    position: fixed;
    top: 0%;
}

.nav {min-width: 950px;
        margin: 0px;
}

.my-nav {
    background-color: white;
    position: fixed;
    min-width: 950px;
    top: 0px;
	}	

.nav-link {
    color: hsla(244,25%,49%,1.00);
	overflow: hidden;
	position: relative;
	top: 0;
	padding-top:5px;
}

.navlist {
    list-style-type: none;
    background-color: hsla(347,41%,40%,0.47);
    overflow-x: hidden;
    width: 100%;
    position: fixed;
    top: -4px;
}

.navlistitem {
    float: left;
    padding-top: 8px;
    padding-right: 31px;
    padding-bottom: 8px;
    padding-left: 11px;
    position: relative;
}
.nav.nav-tabs.my-nav {
    position: fixed;
    width: 65%;
    z-index: 1; /*Add this*/
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    top: 0px;
}


/*body section {
    border-radius: 8px;
    margin-top: 33px;
    margin-right: 66px;
    margin-bottom: 55px;
    margin-left: 66px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 1rem;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    color: rgba(3,3,3,1.00);
    white-space: normal;
    line-height: 155%;
}*/

p {
    color: #F9F8F8;
    font-weight: 700;
    text-align: center;
    font-family: source-sans-pro;
    font-variant: normal;
    font-style: normal;
    line-height: 160%;
    letter-spacing: 0%;
    position: relative;
}


#wrapper {
    color: #D7A85B;
    width: 940px;
    text-align: center;
    position: relative;
    margin-top: 0px;
    margin-left: auto; 
    margin-bottom: 0px;
    margin-right: auto;
    min-width: 940px;
    } 

pre {
    position: absolute;
    top: 370px;
    width: 100%;
    margin: auto;
    color: rgba(249,241,242,1.00);
    font-family: source-sans-pro;
    font-weight: 600;
    text-align: center;
    font-size: 1.3em;
    line-height: 180%;
    word-spacing: 120%;
    letter-spacing: 120%;
    white-space: pre-wrap;
    text-shadow: 1px 1px rgba(34,34,34,1.00);
    }

.newref {
    font-weight: 800;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    color: #305975;
    letter-spacing: 458%;
    white-space: pre-line;
    text-shadow: 1px 1px 1px rgba(252,251,249,0.80);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


.hs {    
    font-weight: 700;
    text-align: center;
    font-size: 1.15em;
    color:#FAF7F7;
    letter-spacing: 358%;
    white-space: pre-line;
    /*text-transform: uppercase;*/
}   
   
 .dktext {
    color: hsla(1,35%,25%,1.00);
    font-weight: 900;
    font-size: 1.12em;
    text-shadow:none;
}   
  

.ScriptureRef {
    font-weight: 300;
    font-family: Cambria;
    font-size: .85em;
    line-height: 3.5em;
	}
	
.clear {
    background-color: rgba(0,0,0,0.00);
}
    
.MLuther {
    position: absolute;
    padding-top: 0%;
    font-family: source-sans-pro;
    font-style: normal;
    margin-top: 6%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.60);
    color: rgba(253,251,251,1.00);
    padding-right: 0%;
    /* [disabled]clear: right; */
    /* [disabled]overflow-x: hidden; */
    /* [disabled]overflow-y: hidden; */
    text-align: center;
}


.Inside.header   {
    text-align: left;
    position: fixed;
    padding-left: 0px;
    margin-left: 7px;
    float: left;
    clear: left;
}
	
.Inside aside {
	width: 140px;
    margin-left: 668px;
    position: fixed;
    font-weight: 200;
	}

.Answer {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: auto;
    padding-right: 10%;
    padding-left: 20px;
    height: 100%;
    position: fixed;
	}
		
.Pentecost {
    color: rgba(252,250,250,1.00);
    font-family: source-sans-pro;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    line-height: 23pt;
    padding-top: 3px;
    padding-left: 0px;
    text-indent: 0px;
    word-spacing: 430%;
    letter-spacing: 430%;
    white-space: pre-wrap;
 }

.pentephrase {
    color: #FBF4E5;
    font-variant: all-caps;
}

.letters {
    background-color: white;
    border-radius: 6px;
    text-shadow: none;
    color: black;
    font-weight: 400;
    width: 100%;
    margin-top: 20px;
    /* [disabled]position: absolute; */
    clear: none;
    float: none;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 132%;
    font-size: medium;
    text-align: left;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    max-height: 100px;
    /* overflow-y: scroll;*/
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



.newref {
    font-weight: 800;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    color: #305975;
    letter-spacing: 458%;
    white-space: pre-line;
    text-shadow: 1px 1px 1px rgba(252,251,249,0.80);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

section {
    position: absolute;
    top: 370px;
    width: 750px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 33px;
    margin-bottom: 15px;
    min-width: 750px;
    float: right;
    }


.qa
    {
    /*position: absolute;
    border-radius: 8px;
    top: 370px;
    width: 400px;
    margin: auto;*/
    background-color: rgba(251,251,251,1.00);
    color: rgba(0,0,0,1.00);
    font-weight: 300;
    text-align: left;
    font-size: 1rem;
    font-style: normal;
    white-space: normal;
    line-height: 155%;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.writings {
    position: absolute;
    top: 10px;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top:77px;
    color: rgba(249,241,242,1.00);
    z-index: 3;
    }

footer {
    font-size: x-small;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,1.00) 100%);
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width:888px){

}



